{% extends "_base.html" %}

{% block preview %}{% endblock preview %}

{% block nav %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"></a></li>
            <li><a href="/members.html">Members</a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
        </ul>
    </div>
</nav>


{% endblock nav %}


{% block sidebar %}

{% include 'join_us.html' %}

{% endblock sidebar %}