{% extends "_base.html" %}

{% from '_macros.html' import img_url %}

{% block css %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="assets/js/imgLiquid-min.js"></script>
<script src="assets/js/app.js"></script>
{% endblock scripts %}

{% block preview %}{% endblock preview %}

{% block sidebar %}
<div class="sidebar affix">
    <div class="sidebar-item">
        {% include 'join_us.html' %}
        {% include 'showcase.html' %}
    </div>
</div>
{% endblock sidebar %}
