{% extends "_sc3base.html" %}

{% block loose %}

<div class='featured-image responsive' style="margin-top: -2em;">
  <img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_088.jpg') }}" />
  <h1>{{ title }}</h1>
</div>

{% endblock %}

{% block content %}

<div class="">

    {{ about|markdown }}
    
    {{ manifesto|markdown }}

    {{ licensing|markdown }}
  
</div>

{% endblock content %}

{% block sidebar %}
<div class="sidebar-index" data-spy="affix" data-offset-top="600">
    <div class="sidebar-item">
        {% include 'join_us.html' %}
        {% include 'showcase.html' %}
    </div>
</div>
{% endblock sidebar %}