{% extends '_sc3base.html' %}

{% block loose %}

<div class='container'>
  <div class='projects-container'>
      <ul id="tiles">
          {% for project in projects %}
          <li>
            <img class='project-img' src="{{ project.image }}">
            <div class='projects'>
              <h3><a href="{{ project.url or project.source_code }}">{{ project.name }}</a></h3>
                <div>
                    {{ project.about|markdown }}
                </div>
                <p class="project-languages">Languages: {{ project.languages }}</p>
                <p>
                  <a href="{{ project.source_code }}">
                    Source
                  </a> {{ project.status }}
                </p>
                <p>Version: {{ project.version }}</p>
            </div>
            </img>
          </li>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock sidebar %}