{% set page = "sfd" %}

{% extends "_event.html" %}



{% block gallery %}

<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_001.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_002.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_003.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_004.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_005.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_006.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_007.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_008.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_009.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_010.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_011.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_012.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_013.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_014.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_015.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_016.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_017.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_018.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_019.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_020.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_021.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_022.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_023.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_024.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_025.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_026.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_027.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_028.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_029.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_030.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_031.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_032.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_033.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_034.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_035.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_036.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_037.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_038.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_039.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_040.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_041.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_042.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_043.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_044.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_045.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_046.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_047.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_048.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_049.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_050.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_051.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_052.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_053.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_054.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_055.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_056.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_057.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_058.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_059.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_060.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_061.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_062.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_063.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_064.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_065.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_066.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_067.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_068.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_069.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_070.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_071.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_072.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_073.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_074.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_075.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_076.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_077.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_078.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_079.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_080.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_081.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_082.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_083.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_084.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_085.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_086.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_087.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_088.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_089.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_090.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_091.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_092.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_093.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_094.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_095.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_096.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_097.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_098.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_099.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_100.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_101.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_102.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_103.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_104.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_105.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_106.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_107.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_108.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_109.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_110.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_111.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_112.jpg') }}" />
<img class="img-responsive" src="{{ img_url('sfd', 'jg_soft_freedom_113.jpg') }}" />

{% endblock %}

{% block extra %}

<h2>Our David Eads talking about Software freedom</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/WKks084x4B0" frameborder="0" allowfullscreen></iframe>

<h2>Cook County Jail Scraper Presentation</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/p_fi5KIIxIw" frameborder="0" allowfullscreen></iframe>
{% endblock %}

