{% set page = "sfd" %}

{% extends "_event.html" %}



{% block gallery %}

{% endblock %}

{% block extra %}


<p>After our presentations checkout <a href="https://www.youtube.com/playlist?list=PLLKwR8no5ANH4L-ABhWywahQB_CZpVc0_">more</a></p>

<h2>Our David Eads talking about Software freedom</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/WKks084x4B0" frameborder="0" allowfullscreen></iframe>

<h2>Cook County Jail Scraper Presentation</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/p_fi5KIIxIw" frameborder="0" allowfullscreen></iframe>

{% endblock %}


