{% set page = "sfd" %}

{% extends "_event.html" %}


{% block gallery %}

<a href="{{ img_url('sfd', 'jg_soft_freedom_098.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_098_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_105.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_105_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_092.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_092_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_006.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_006_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_031.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_031_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_111.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_111_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_095.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_095_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_088.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_088_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_055.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_055_thumb.jpg') }}"></a>
<a href="{{ img_url('sfd', 'jg_soft_freedom_066.jpg') }}" data-thumb="{{ img_url('sfd', 'jg_soft_freedom_066_thumb.jpg') }}"></a>

{% endblock %}

{% block extra %}


<p>After our presentations checkout <a href="https://www.youtube.com/playlist?list=PLLKwR8no5ANH4L-ABhWywahQB_CZpVc0_">more</a></p>

<h2>Our David Eads talking about Software freedom</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/WKks084x4B0" frameborder="0" allowfullscreen></iframe>

<h2>Cook County Jail Scraper Presentation</h2>

<iframe class="video-embed" src="//www.youtube.com/embed/p_fi5KIIxIw" frameborder="0" allowfullscreen></iframe>

{% endblock %}


