/* Navbar */

.navbar-header {
  font-family: "Contrail One", sans-serif;
}

.nav {
  font-family: "Open Sans", sans-serif;
}

/* Sidebar */

.sidebar, .sidebar-index {
  background-color: rgba(0, 0, 240, 0.2);
}

.sidebar-item {
  padding: 20px;
}

.sidebar h4 {
  margin-top: 0;
}

.sidebar-index.affix {
  top: 70px;
  position: fixed;
}

/* Content */

.featured-image {
  position: relative;
  z-index: 1000;
}

.featured-image h1 {
  position: absolute;
  width: 100%;
  left: 15%;
  bottom: 12%;
  text-align: center;
  font-family: "Contrail One", sans-serif;
  color: white;
  text-shadow: 2px 2px 3px #000000;
  font-size: 4em;
}

.video-embed {
  height: 500px;
  width: 100%;
}

body {
  margin-top: 2em;
}

body p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Members */

.members .row .col-sm-8 {
  height: 12em;
  position: relative;
}

.social-box {
  position: absolute;
  bottom: 0;
}

.social-box ul {
  padding-left: 10px;
}

.social-box li {
  width: 50px;
  list-style-type: none;
  display: inline-block;
  float: none;
}

.social-box a:hover {
  text-decoration: none;
}

.photo-container {
  display: inline-block;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
}

/* Responsivity */

@media (max-width: 768px) {
  .featured-image {
    background-position-x: 30% !important;
  }
  .affix {
    display: none;
  }
}